{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <article class="grid-container" style="width: 600px">
        <br>
        <div class="text-left">
            <h2 style="color: #0088CC"><i>Patient Creation</i></h2>
            <hr>
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="button expanded success"/>
        {{ form_end(form) }}
        <div>
            <a href="{{ path('patient_index') }}" class="button expanded primary">Back to the list</a>
        </div>
    </article>
{% endblock %}
